<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514332852242-vhhgvealf9tmmrp1ge365f3kvl52n42a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514332852242-vhhgvealf9tmmrp1ge365f3kvl52n42a</string>
	<key>API_KEY</key>
	<string>AIzaSyCDy2MSRAV1FpsTSgpUDY6EoI0w9rX2tGM</string>
	<key>GCM_SENDER_ID</key>
	<string>514332852242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedrochiossi.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-eff46</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-eff46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514332852242:ios:28671f6b31a65022</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-eff46.firebaseio.com</string>
</dict>
</plist>